/* EDITOR */

.editor {
    background-color: rgb(227, 227, 227);
    justify-content: center;
}

/* CANVAS */

canvas {
    border: 2px solid black;
    background-color: white;
    text-align: center;
}

/* BUTTOMS CANVAS */

.buttoms-canvas {
    display: grid;
    justify-content: center;
}

.buttoms-canvas div {
    background-color: white;
    border-radius: 1.2em;
    display: flex;
    justify-content: center;
}

.buttoms-canvas div img {
    height: 66%;
    width: 66%;
    object-fit: cover;
    margin-top: 0.6em;
    cursor: pointer;
}

#text {
    grid-column: 1 /6;
    grid-row: 1/2;
    border: 0px solid white;
    border-radius: .8em;
    font-family: montserrat;
    font-size: 1.4rem;
}

#text:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.change-selected-line-idx {
    grid-column: 2 /3;
    grid-row: 2/3;
}

.add-text {
    grid-column: 3 /4;
    grid-row: 2/3;
}

.delete-text {
    grid-column: 4 /5;
    grid-row: 2/3;
}

.bigger-text {
    grid-column: 1 /2;
    grid-row: 4/5;
}

.smaller-text {
    grid-column: 2/3;
    grid-row: 4/5;
}

.align-left {
    grid-column: 3/4;
    grid-row: 4/5;
}

.align-center {
    grid-column: 4/5;
    grid-row: 4/5;
}

.align-right {
    grid-column: 5/6;
    grid-row: 4/5;
}

#fonts {
    grid-column: 1/4;
    grid-row: 5/6;
    font-family: montserrat;
    font-size: 1.4rem;
    border: 0px solid white;
    border-radius: .8em;
}

.outline-color, .img-color-outline {
    grid-column: 4/5;
    grid-row: 5/6;
}

.fill-color, .img-color-fill {
    grid-column: 5/6;
    grid-row: 5/6;
}

.outline-color input, .fill-color input {
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.buttoms-canvas .stikers-countainer {
    grid-column: 1/6;
    grid-row: 6/7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttoms-canvas .stikers-countainer img {
    width: 100%;
    height: 78%;
    object-fit: contain;
}

.donload {
    grid-column: 1/2;
    grid-row: 7/8;
}

#img-in-a {
    width: 100%;
}

.upload-image {
    grid-column: 2/3;
    grid-row: 7/8;
    opacity: 0;
    cursor: pointer;
}

.img-upload {
    grid-column: 2/3;
    grid-row: 7/8;
}

.buttoms-canvas .btn {
    font-family: montserrat;
    font-size: 1.4rem;
    border-radius: 1.2em;
    color: white;
    background-color: #ff7f00;
    /* padding-top: 5%; */
}

.btn-save {
    grid-column: 3/5;
    grid-row: 7/8;
    cursor: pointer;
}

.share-canvas {
    grid-column: 5/6;
    grid-row: 7/8;
    cursor: pointer;
}

/* RESPNOSIVE */

/* Mobile  */

@media (max-width: 700px) {
    .editor {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding-top: 10px;
        padding-bottom: 13px;
    }
    .buttoms-canvas {
        padding-top: 10px;
        width: 283px;
        grid-template-columns: 40px 40px 40px 40px 40px;
        grid-template-rows: 40px 40px 2px 40px 40px 50px 40px;
        grid-gap: 8px 25px;
    }
    .canvas-container {
        width: 310px;
        height: 310px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/* SMALL  */

@media (min-width: 700px) {
    .editor {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .buttoms-canvas {
        padding-top: 10px;
        width: 283px;
        /* height: 450px; */
        grid-template-columns: 40px 40px 40px 40px 40px;
        grid-template-rows: 40px 40px 2px 40px 40px 50px 40px;
        grid-gap: 8px 25px;
    }
    .canvas-container {
        width: 430px;
        height: 430px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/* large  */

@media (min-width: 850px) {
    /* CANVAS */
    .canvas-container {
        width: 450px;
        height: 450px;
    }
}

/* Desktop */

@media (min-width: 1300px) {
    .editor {
        flex-direction: row;
        gap: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .buttoms-canvas {
        padding-top: 15px;
        width: 382px;
        height: 585px;
        grid-template-columns: 60px 60px 60px 60px 60px;
        grid-template-rows: 60px 60px 30px 60px 60px 120px 60px;
        grid-gap: 10px 20px;
    }
    /* CANVAS */
    .canvas-container {
        width: 550px;
        height: 550px;
        padding-top: 15px;
    }
    .buttoms-canvas .btn {
        padding-top: 5%;
    }
}