/* SEARCH */

.search {
    height: 105px;
    align-items: center;
}

/* SEARCH INPUT */

.search input {
    height: 25px;
    font-family: montserrat;
    font-size: 1.187rem;
    border: 0px solid white;
    box-shadow: 0 2px 0 rgb(214, 211, 211)
}

.search input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.search img {
    width: 25px;
    object-fit: contain;
    border-bottom: 2px solid rgb(214, 211, 211);
}

/* TITLES WORDS */

.common-serach {
    align-items: center;
    font-size: 1.5rem;
}

.common-serach li {
    cursor: pointer;
}

/* NO SAVED MEME */

.no-search-items {
    display: none;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 645px;
    text-align: center;
}

.no-search-items h1 {
    padding-top: 200px;
}

/* GALLARY */

.photos-container {
    background-color: rgba(229, 226, 226, 0.89);
    display: grid;
    justify-content: center;
}

.photos-container img {
    object-fit: cover;
    height: 100%;
}

/* ABOUT */

.about {
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

.me-photo {
    margin-left: 50px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}

/* LINKS */

.links img {
    width: 20px;
    margin: 10px;
    object-fit: contain;
    cursor: pointer;
}

.text {
    margin-left: 30px;
}

.text p, .text h2 {
    color: black;
}

/* RESPONSIVE */

/* Mobile  */

@media (max-width: 700px) {
    .photos-container {
        grid-template-columns: 160px 160px;
        grid-template-rows: 160px 160px;
        grid-gap: 5px;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* SEARCH */
    .search {
        justify-content: space-between;
        flex-direction: column;
        margin-top: 20px;
    }
    /* SEARCH WORDS */
    .common-serach {
        gap: 0 10px;
        padding-bottom: 20px;
    }
    .common-serach li:nth-child(5) {
        display: none;
    }
    /* ABOUT */
    .about {
        flex-direction: column;
    }
    .text {
        /* margin-left: 30px; */
        text-align: center;
    }
    .links-countainer {
        text-align: center;
    }
}

/* SMALL  */

@media (min-width: 700px) {
    .photos-container {
        grid-template-columns: 160px 160px 160px;
        grid-template-rows: 160px 160px;
        grid-gap: 20px;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* SEARCH */
    .search {
        justify-content: space-between;
        flex-direction: column;
        margin-top: 20px;
    }
    /* SEARCH WORDS */
    .common-serach {
        gap: 0 15px;
        padding-bottom: 20px;
    }
}

/* large  */

@media (min-width: 850px) {
    .photos-container {
        grid-template-columns: 350px 350px;
        grid-template-rows: 275px 275px;
        grid-gap: 20px;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* SEARCH */
    .search {
        flex-direction: row;
        margin-top: 0px;
    }
    .search input {
        margin-left: 50px;
    }
    /* SEARCH WORDS */
    .common-serach {
        gap: 0 15px;
        padding-right: 50px;
        padding-bottom: 0px;
    }
}

/* Desktop */

@media (min-width: 1300px) {
    .photos-container {
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 275px 275px 275px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* SEARCH */
    .search input {
        margin-left: 50px;
    }
    /* SEARCH WORDS */
    .common-serach {
        gap: 0 60px;
        padding-right: 50px;
    }
}