* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

/* BASE */

html {
    color: #626262;
    font-family: montserrat, serif;
    line-height: 1.875;
}

body {
    margin: 0;
    font-size: .875rem;
}

img {
    width: 100%;
}

.theme-color {
    background-color: #ff7f00
}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.direction-row {
    flex-direction: row;
}

.flex.direction-col {
    flex-direction: column;
}

/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* LAYOUT */

/* HIDDEN TAB */

.editor {
    display: none;
}

.saved {
    display: none;
}

/* HEADER */

.main-header {
    height: 65px;
}

.logo img {
    width: 138px;
    height: 25px;
    object-fit: contain;
}

/* FOOTER */

footer {
    height: 206px;
    text-align: center;
}

footer p {
    color: white;
}

footer .logo {
    margin-top: 75px;
    display: inline-block;
}

/* RESPONSIVE */

/* Mobile  */

@media (max-width: 700px) {
    /* MAIN LAYOUT */
    .main-layout {
        max-width: 350px;
        margin: 0 auto;
    }
    /* MAIN VAN */
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        min-width: 240px;
        height: 100vh;
        background-color: rgba(41, 41, 41, 0.9);
        box-shadow: 0px 0px 0px transparent;
        transform: translateX(100%);
        transition: transform .9s;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -8px 0px 20px rgb(0 0 0 / 20%);
    }
    .main-nav span {
        display: none;
    }
    .main-nav li {
        padding: 20px 0;
        width: 100%;
        height: 10%;
        text-align: center;
        font-size: 1.187rem;
        color: rgb(228, 219, 183);
    }
    .main-nav .active {
        color: rgb(255, 255, 255);
        box-shadow: inset 10px 0 0 rgba(255, 255, 255, 0.966)
    }
    /* MENU BUTTON */
    .btn-menu-toggle {
        border: 0px;
        color: white;
        font-size: 35px;
        padding-right: 25px;
    }
    /* Screen */
    .screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0 0 0 / 50%);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6s;
    }
    body.menu-open .screen {
        opacity: 1;
        pointer-events: auto;
    }
}

/* SMALL  */

@media (min-width: 700px) {
    /* LAYOUT */
    .main-layout {
        max-width: 650px;
        margin: 0 auto;
    }
    .main-header .logo {
        padding-left: 50px;
    }
    /* MAIN NAV */
    .main-nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 0 30px;
        padding-right: 50px;
        height: 100%;
    }
    .main-nav li {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 1.187rem;
        color: cornsilk;
    }
    .main-nav span {
        font-size: 1.187rem;
        color: cornsilk;
    }
    .main-nav li:hover {
        color: rgb(0, 0, 0);
        box-shadow: inset 0px -5px 0 rgb(0, 0, 0);
    }
    .main-nav .active {
        color: rgb(0, 0, 0);
        box-shadow: inset 0px -5px 0 rgb(0, 0, 0);
    }
    /* MENU BUTTON */
    .btn-menu-toggle {
        display: none;
    }
}

/* large  */

@media (min-width: 850px) {
    .main-layout {
        max-width: 800px;
        margin: 0 auto;
    }
}

/* Desktop */

@media (min-width: 1300px) {
    .main-layout {
        max-width: 1200px;
        margin: 0 auto;
    }
}